 .expenseitem_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: rgb(35, 71, 102);
    padding: 20px;
    border-radius: 20px;
 }
 .title__amount{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .title{
    margin-right: 500px;
 }
 .amount{
    font-weight: 500;
    font-size: 20px;
    border: 5px solid rgb(82, 136, 131);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgb(82, 85, 226);
    color: rgb(46, 45, 45);

 }